@charset "UTF-8";
@font-face {
    font-family: yuan;
    src: url("../fonts/yuan.ttf");
}

a {
    color: #7c7c7c;
    transition: all 0.2s;
}

html {
    font-size: 10px;
    line-height: 24px;
    background-color: white;
    color: dimgrey;
    -webkit-text-size-adjust: none;
    font-family: "Microsoft YaHei" ! important;
}

header {
    box-sizing: border-box;
    padding: 4rem 2rem 2.3rem 8rem;
    /*font-family: yuan;*/
    margin-bottom: 3.6rem;
}

div {
    box-sizing: border-box;
}

section {
    position: relative;
}

.relative {
    position: relative;
}

/*子页颜色*/
.subsite {
    background-color: #f8f8f8;
}

/*背景掩盖色*/
.masterBg {
    position: absolute;
    bottom: -300px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #B74F9F;
    /*z-index: 1;*/
}

.color-p {
    background-color: #B74F9F;
}

.color-b {
    background-color: #262626;
}

.color-g {
    background-color: #f8f8f8 !important;
}

/*查看更多按钮*/
.more-box {
    margin: 3rem 0 2rem 0;
    text-align: center;
}

.more {
    padding: 0.8rem 1.4rem;
    /*border: 1px solid lightgrey;*/
    font-size: 1.2rem;
    color: #f8f8f8;
    letter-spacing: 2px;
    transition: all 0.3s;
    background-color: #b74f9f;
}

.more:hover {
    /*border: 1px solid #cb8ad3;*/
    /*color: #bf4ca3;*/
    background-color: #d25bb6;
}

/*子页面简介*/
#subsite-title {
    position: relative;
    /*padding: 80px 0 100px 0;*/
    margin-bottom: 30px;
    height: 220px;
}

#subsite-title p {
    color: #a2408a;
    text-align: center;
    letter-spacing: 4px;
    /*text-shadow: 0.1px 0.1px 0.2px grey;*/
}

#slogan {
    font-size: 3.4rem;
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.4rem !important;
    color: #9a9a9a !important;
    margin: 0.4rem auto;
    width: 60%;
    line-height: 1.6rem;
}

/*子页面每个模块小标题样式*/
.section-title-box {
    margin: 4rem 0 2rem 0;
}

.section-title-box > p {
    margin-bottom: 0.6rem;
    text-align: center;
    letter-spacing: 3px;
}

.title-zh {
    color: #707076;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 4px;
}

.title-en {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #904979;
    font-weight: 500;
}

.title-w {
    color: white !important;
}

/*子页面模块样式*/
.subsite #content section + section {
    margin-top: 300px;
}

.module-title-box {
    position: absolute;
    width: 100%;
    background-color: transparent;
    text-align: center;
    top: -106px;
    letter-spacing: 3px;

}

.module-outer-box {
    position: relative;
    min-width: 1024px;
    width: 100%;
    padding: 1px;
    background-color: white;
    /*height: 400px;*/
}

.module-box {
    max-width: 1260px;
    position: relative;
    width: 70%;
    min-width: 1000px;
    /*padding: 0 0 4rem 0;*/
    background-color: white;
    margin: -110px auto 60px auto;
}

/*公共头部*/
#top {
    margin-bottom: 1.8rem;
    cursor: pointer;
}

#top-left {
    font-size: 2.6rem;
    color: #606060;
    letter-spacing: 4px;
}

#top-left img {
    width: 140px;
}

#top-nav li {
    float: left;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.2s;
}

#top-nav li > a {
    transition: all 0.2s;
    letter-spacing: 4px;
}

#top-nav li > a:hover {
    color: #bf91bd;
}

#top-nav li + li {
    float: left;
    margin-left: 38px;
}

/*品牌logo*/
.tocolorful {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    transition: 0.8s;
}

.tocolorful:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
}

/*公共脚部*/
footer {
    padding: 1px;
    background: #883b76;
    color: #eeede9;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem 4rem 8rem;
}

#footer-logo {
    width: 140px;
    cursor: pointer;
}

footer > div {
    display: inline-block;
}

#footer-info-box {
    display: flex;
    align-items: center;
}

#footer-contact-box {
    display: flex;
    align-items: flex-end;
}

#footer-nav-box {
    display: inline-block;
    margin-left: 4rem;
}

#footer-nav-box li {
    margin-top: 2rem;
}

#footer-nav-box a {
    color: #e7e7e7;
    font-size: 1.4rem;
    letter-spacing: 4px;
}

#footer-nav-box a:hover {
    color: darkgrey;
}

#footer-contact-box li {
    margin-bottom: 1rem;
    letter-spacing: 2px;
    font-size: 14px;
    color: rgba(208, 209, 208, 0.96);
    text-align: right;
}

#copyright-info {
    display: block !important;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.6rem;
    color: rgba(239, 235, 240, 0.92) !important;
    letter-spacing: 1px;
}

/*弹窗控件*/
.pop-outer-box {
    display: none;
    position: fixed;
    width: 100%;
    /*height: 700px;*/
    top: 0;
    background: rgba(23, 23, 23, 0.65);
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    z-index: 16;
}

.pop-box {
    position: relative;
    width: 960px;
    background: rgba(84, 84, 84, 0.46);
    /*border-radius: 2px;*/
    visibility: hidden;
    animation-duration: 0.6s !important;
    padding: 4px 4px 4px 4px;
    box-shadow: 0 0 18px rgba(34, 34, 34, 0.89);
    margin: 0 auto;
    /*margin-top: 100px !important;*/
}

#video {
    position: relative;
    width: 100%;
    height: auto !important;
    z-index: 12;
}

.pop-box-close {
    position: absolute;
    width: 80px;
    height: 80px;
    background: transparent;
    top: -18px;
    right: -75px;
    text-align: center;
    color: #fff6f8;
    text-shadow: 0.2px 0.2px 0.1px #363636;
    font-size: 80px;
    cursor: pointer;
    transition: all 0.4s;
    font-weight: 100;
    line-height: 80px;

}

/*视频控件*/
.pop-box-close:hover {
    color: #e293cf;
}

.pop-box-close:active {
    color: #d25055;
}

.pop-video {
    position: relative;
}

.pop-video:hover .pop-video-title {
    opacity: 1;
}

.pop-video-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100%;
    padding: 1.4rem 0 2.6rem 0;
    background: linear-gradient(black, rgba(255, 255, 255, 0));
    text-indent: 2rem;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.94);
    line-height: 20px;
    letter-spacing: 2px;
    transition: all 0.4s;
    opacity: 0;
}

.pop-video-intro {
    margin: 0.6rem 0 0.6rem 0.2rem;
    font-size: 1.6rem;
    color: rgba(239, 239, 239, 0.95);
    letter-spacing: 2px;
}

.video-src {
    display: none;
}

.replay-img {
    width: 46px;
    height: 46px;
    position: absolute;
    z-index: 99;
    left: calc(50% - 23px);
    top: calc(50% - 23px);
    transform: scale(0) rotate(0);
    transition: all 1s ease;
    opacity: 0.6;
    cursor: pointer;
}

.replay-img:hover {
    opacity: 1;
}
/*文章控件*/
.pop-article {
    position: relative;
    overflow: scroll;
    /*height: 1000px;*/
}

.pop-article > img {
    width: 100%;
}

.pop-totop {
    display: none;
    right: 26px;
    bottom: 40px;
    position: absolute;
    width: 48px;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.2s;
}

.pop-totop:hover {
    opacity: 0.9;
}

.pop-totop > img {
    width: 100%;
}

/*图片loading图标*/
.imgbox {
    position: relative;
    opacity: 0;
    transition: all 0.4s;
}

.picloading {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 3;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    animation: picloading 0.4s infinite linear;
}

/*回顶部*/
.totop {
    position: fixed;
    bottom: 60px;
    right: 60px;
    cursor: pointer;
    display: none;
    opacity: 0.86;
}

.totop > img {
    width: 56px;
    transition: all 0.4s;
}

.totop > img:hover {
    filter: brightness(1.06);
}

/*loading图片旋转动画*/
@keyframes picloading {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}